.dashboard{
    width: 100%;
    background-color: $bg-dashboard;
    .header{
        height: 70px;
        display: flex;
        align-content: center;
        position: sticky;
        top: 0px;
        z-index: 5;
        background-color: $col-white;
        &--active{
            background-color: transparent;
        }
        .logo__img{
            height: 25px;
            width: auto;
        }
        .logo{
            margin-top: 10px;
        }
        .language__img{
            border-radius: 50%;
        }
        .header__text{
            font-family: Os;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 0.8em;
            color: $col-3c;
            margin:0 6px;
        }
        .language  a > i{
            color: #3c3c3c;
        }
        .menu{
            margin-bottom: 0;
            &__item{
                display: inline-block;
                padding: 10px 20px;
                i {
                    margin-left: 5px;
                    font-size: 0.9em;
                }
            }
            &__link{
                color: $col-text1; 
                font-weight: 600;
                font-size: 16px;
            }
        }
    }

    .over-view-result{
        margin: 60px 0 40px;
        display: flex;
        justify-content: space-between;

        .block-over-view{
            width: 23%;
            background-color: $col-white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 0;
            border-radius: 10px;
            box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.1);
            &:hover{
                box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.3);
            }
            i{
               font-size: 35px;
               color: $col-white;
            }

            &__icon{
                width: 55px;
                height: 55px;
                border-radius: 28px;
               
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__user{
                background-color: $col-ad-user;
            }
            &__user2{
                background-color: $col-ad-user2;
            }
            &__user3{
                background-color: $col-ad-user3;
            }
            &__user4{
                background-color: $col-ad-user4;
            }

            &__number{
                font : {
                    size : 32px;
                    weight: 700;
                }
                margin: 20px 0;
            }
            .text{
                color: $col-89;
                font-size: 15px;
                font-weight: 600;
            }
            .name{
                margin-bottom : 10px;
            }
            .increased{
                color : $col-red;
                margin-right: 7px;
                i{
                    color : $col-red;
                    font-size: 16px;
                    margin-right: 3px;
                }
            }
            .descrease{
                color : $col-green;
                margin-right: 7px;
                i{
                    color : $col-green;
                    font-size: 16px;
                    margin-right: 3px;
                }
            }
        }
    }

    .chart-all{
        &__top{
            display: flex;
            justify-content: space-between;
        }
        &__block{
            width: 31%;
            padding: 0px 5px;
            background-color: $col-white;
            border-radius: 10px;
            box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.3);
            text-align: center;

            .title-chart{
                font : {
                    weight : bold;
                    size : 26px;
                    color : $col-text;
                }
                display: inline-block;
                padding: 20px 0;
            }
            .chartjs-render-monitor{
                padding: 10px 10px 30px 10px;
            }
        }
        &__bottom{
            margin:40px 0;
            .chart-all__block{
                width: 65%;
            }
            
        }
    }

}
.language{
    position: relative;
    &:hover .sub-language{
        display: block;
    }
    .sub-language{
        position: absolute;
        display: none;
        left: 30%;
        padding: 0;
        width: max-content;
        & > li {
            cursor: pointer;
        }
        & li:hover {
            background-color: rgb(235, 251, 255);
        }
    }
}
