.footer{
    .footer-info{
        padding: 60px 0;
        background-color: #f7f7f7;

        &-title--format{
            font-size: 16px;
            // @extend %font-roboto-medium;
            color:#252525;
        }
        &__top{
            display: flex;
            justify-content: space-between;
            padding-bottom: 60px;
            border-bottom: 1px solid #ebebeb;
        }
        &__block{
            width: 15%;
        }
        &__block:first-child{
            width: 25%;
        }

        &__bottom{
            
            display: flex;
            justify-content: space-between;
            margin-top:35px;
            .footer-info__block{
                width: 48%;
                display: flex;
                align-items: center;

                & > i{
                    color:#f5bd10;
                    padding:12px;
                    border-radius: 30px;
                    border: 2px solid #f5bd10;
                    font-size: 24px;
                    margin-right:10px;
                }
                .footer-info__title{
                    margin-bottom: 5px;
                }
            }
        }
        &__title{
            // @extend %font-arial;
            font-size: 13px;
            color: #636363;
            margin-bottom: 20px;
        }
        &__pay{
            width: 45%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__contact{
            width: 45%;
            position: relative;
        }
        &__group-info-pay{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap:5px;
        }
        &__group-contact{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
        }
        &__hotline{
            // @extend %font-arial;
            font-weight: bold;
            font-size: 18px;
            color : #ff0000;
        }
        
    }
    .wrapper-icon-title{
        padding:14px 0;
    }
    .wrapper-icon-title--format{
        color: #636363;
    }
    .wrapper-icon-title--format::first-letter{
        text-transform: uppercase;
    }
    .wrapper-icon-title .wrapper-icon-title--format {
        margin-left:0px;
    }
    .wrapper-icon-title  .wrapper-icon-title__list + .wrapper-icon-title--format {
        margin-left: 10px;
    }
    
    &-bottom{
        height: 60px;
        background-color: #252525;

        &-wrapper{
            display: flex;
            align-items: center;
            height: 100%;
        }
        &__coppy-right{
            width: 49%;
        }
        &__item{
            display: inline-block;
        } 
        &__title{
            // @extend %font-arial;
            font-size: 13px;
            color: lighten(#252525, $amount: 60);
        }
        &__menu{
            margin-left:auto;
        }
        .marker{
            // @extend %font-arial;
            font-weight: bold;
            color: #f7f7f7;
        }
        &__item{
            padding-right:10px;
        }
        &__link{
            @extend .footer-bottom__title;
        }
    }
}
.wrapper-icon-title{
    display: flex;
    align-items: center;

    &--format{
        font-size: 13px;
        color: #898989;
        text-transform: none;
        & > .wrapper-icon-title__item{
            background-color: #898989;
        }
    }
}

.wrapper-icon-title__list{
    width: 12px;
    height: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.wrapper-icon-title__item {
    width: 5px;
    height: 5px;
    background: #f5bd10;
    font-size:0;
}
.wrapper-icon-title__link{
    margin-left: 10px;
    color: #363636;
    text-transform: uppercase;
}