.form-login{
    width: 300px;
    padding: 20px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    background-color: $col-white;


    input{
        display: block;
        width: 96%;
        margin:auto;
    }   
    &__title{
        font-size: 20px;
        color: $col-text;
        padding-bottom: 10px;
        font: {
            family : Os;
            weight : 600;
        };
        border-bottom: 1px solid  rgba(0,0,0,0.3);
    }
    &__group{
        input{
            height: 36px;
            margin-bottom: 15px;
            width: 100%;
            outline: none;
            text-indent: 5px;
            border-radius: 5px;
            border : 0;
            box-shadow: 0 1px 3px rgba(0,0,0,0.3);
            &:focus{
                outline: none;
            }
            &::placeholder{
                text-indent: 5px;
            }
        }
        
    }
    &__label{
        font: {
            weight : 500;
            size : 14px;
        };
        color : $col-text;
        padding-bottom: 5px;
    }
    .col-red{
        color: $col-red;
    }
    .btn{
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
    }
    .btn-login{
        background-color: $col-white;
        border: 1px solid #000;
        margin-top: 10px;
        
        &:hover{
            background-color: #000;
            color : $col-white;
        }
    }
    .btn-create-acount{
        background-color: #000;
        color: $col-white;
        margin-top: 40px;
        border : 1px solid #e7040f;
        
        &:hover{
            background-color: #e7040f;
        }
    }
    .forget-password {
        color: $col-text;
        display: block;
        text-align: center;
        padding: 10px 0 15px;
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }
}